/*
#F59C7F- primary
#FFB69E- accent
#36A88E- accent
#A85F47- accent
#7FF5DA- accent
*/


/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}



/*-----------------Global Styles------------------*/

body{
    background-color: #f59c7f;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    margin:0;
  }

header.primary{
  background-color:#A85F47;
  text-align:center;
  color:#FFB69E;
  text-shadow:2px 2px 5px #000000;
  
  /* Long Form */
  padding-top:5px;
  padding-right:5px;
  padding-bottom:5px;
  padding-left:5px;
  
  /* T,R,B,L */
  padding:5px 5px 5px 5px;
  
  /* Top/Bottom Right/Left */
  padding: 5px 5px;
}

header.primary h1{
  font-size:2.8rem;
  margin:20px 0;
}

header.primary h1 a{
  color:#FFB69E;
  text-decoration:none;
}

header.primary h2{
  font-size:1.5rem;
  
  /* Top | Left/Right | Bottom */
  margin: 20px auto 40px;
}

header.primary nav{
  width:70vw;
  margin: 20px auto;
  max-width:900px;
}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:0;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav ul li a:link,
header.primary nav ul li a:visited{
  color:#FFB69E;
  text-decoration:none;
  background-color:#000;
  background-color:rgba(0,0,0,.4);
  padding:8px 16px;
  border-radius:5px;
  transition:.5s;
  border:1px solid #7FF5DA;
}

header.primary nav ul li a:hover, header.primary nav ul li a:active{
  background-color:rgba(0,0,0,.8);
}




@media screen and (max-width:690px){
 
  header.primary nav ul{
  flex-direction:column;
  justify-content:space-between;
}
  
  header.primary nav li{
    margin-bottom:10px;
  }
  
  header.primary a{
    display:block;
  }